{% extends "base.html" %}
{% block title %}
  {% if card.legal %}
    Карточка объекта {{ card.legal }}
  {% endif %}
  {% if card.individual %}
    Карточка объекта {{ card.individual }}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="col-lg-12">
    {% include "includes/card_nav.html" %}
    <div style="text-align: left; font-size: 12px" class="row justify-content-center">
      {% include "includes/card_head.html" %}
      <div class="col-lg-12">
      <div style="text-align: left; font-size: 12px" class="table-bordered">
        <table class="table table-sm">
          {% if card.card_qtem.all or action == 'create' %}
            <thead>
              <th class="col-lg-3">Группа реагирования: </th>
              <th class="col-lg-4">Телефон группы: </th>
              <th class="col-lg-3">Тип группы: </th>
              <th></th>
            </thead>
            <tbody>
              {% for qteam in card.card_qtem.all %}
                <tr>
                  <th>{{ qteam.qteam.name }}</th>
                  <td>{{ qteam.qteam.phone }}</td>
                  <td>{{ qteam.type }}</td>
                  <td></td>
                </tr>
              {% endfor %}
              {% if action == 'create' %}
                <form method="post" enctype="multipart/form-data" action="">
                  {% csrf_token %}
                  <tr>
                    <th>{{ form.qteam }}</th>
                    <td></td>
                    <td>{{ form.type }}</td>
                    <td><button type="submit" class="badge badge-outline">Добавить</button></td>
                  </tr>
                </form>
              {% endif %}
            </tbody>
          {% endif %}
        </table>
        
        <table class="table table-sm">
          <thead>
            <th class="col-lg-3">Инструкции для группы: </th>
          </thead>
          <tbody> 
            <td class="col-lg-9">{{ card.qnote }}</td>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div style="text-align: left; font-size: 12px" class="col-lg-12">
      <p>
        {% if user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
          {% if not card.qteam %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_qteam' card.id  %}" role="button">Добавить группу</a>
          {% else %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_qteam' card.id  %}" role="button">Изменить группу</a>
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}