{% extends "base.html" %}
{% block title %}
  {% if card.legal %}
    Карточка объекта {{ card.legal }}
  {% endif %}
  {% if card.individual %}
    Карточка объекта {{ card.individual }}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="col-sm-12">
    {% include "includes/card_nav.html" %}
    <div style="text-align: left; font-size: 12px" class="row justify-content-center">
      {% include "includes/card_head.html" %}
      <div class="col-sm-12">
        <div style="text-align: left; font-size: 12px" class="table-bordered-responsive">
          <table class="table table-sm">
            <tbody>
              <tr>
                <th class="col-sm-3">Клиент: </th>
                <td class="col-sm-9">
                  {% if card.legal %}
                    {{ card.legal.abbreviatedname }}
                  {% endif %}
                  {% if card.individual %}
                    {{ card.individual }}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th class="col-sm-3">Объект: </th>
                <td class="col-sm-9">{{ card.object_name }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Телефон на объекте: </th>
                <td class="col-sm-9">{{ card.phone }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Адрес: </th>
                <td class="col-sm-9">{{ card.address }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Координаты: </th>
                <td class="col-sm-9">
                  {% if not card.card_gps.all and action != 'gps_create' %}
                    <a class="badge badge-primary" href="{% url 'add_card_gps' card.pk %}" role="button">добавить</a>
                  {% endif %}
                  {% if card.card_gps.all and action != 'gps_create' %}
                    {{ card.card_gps.first.gps }}
                    <a class="badge badge-info" href="{% url 'upd_card_gps' card.card_gps.first.pk %}" role="button">изменить</a>
                  {% endif %}
                  {% if action == 'gps_create' %}
                    <form method="post" enctype="multipart/form-data" action="">
                      {% csrf_token %}
                      {{ form.errors.gps }}
                      {{ form.gps }}
                      <button type="submit" class="badge badge-outline">сохранить</button>
                    </form>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th class="col-sm-3">Примечание: </th>
                <td class="col-sm-9">{{ card.note }}</td>
              </tr>
              <tr>
                {% if card.legal %}
                  <th class="col-sm-3">Директор: </th>
                  <td class="col-sm-9">
                    {{ card.legal.bigboss.name }}&nbsp;&nbsp;
                    {% for contact in card.legal.bigboss.phones.all %}
                      {{ contact.phone }}&nbsp;&nbsp;
                    {% endfor %}
                  </td>
                {% endif %}
                {% if card.individual %}
                  <th class="col-sm-3">Собственник: </th>
                  <td class="col-sm-9">
                    {{ card.individual.name }}&nbsp;&nbsp;
                    {% for contact in card.individual.name.phones.all %}
                      {{ contact.phone}}&nbsp;&nbsp;
                    {% endfor %}
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th class="col-sm-3">Подготовил: </th>
                <td class="col-sm-9">{{ card.manager }} {{ card.generated|date:"d.m.Y" }} {{ card.generated|time:"H:i" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        {% if user.role == 'manager' or user.role == 'admin' and user.is_authenticated %}
          {% if card.individual %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'upd_card_individual' card.pk %}" role="button">Изменить</a>
          {% endif %}
          {% if card.legal %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'upd_card_legal' card.pk %}" role="button">Изменить</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}