{% extends "base.html" %}
{% block title %}
  {% if card.legal %}
    Карточка объекта {{ card.legal }}
  {% endif %}
  {% if card.individual %}
    Карточка объекта {{ card.individual }}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="col-lg-12">
    {% include "includes/card_nav.html" %}
    <div style="text-align: left; font-size: 12px" class="row justify-content-center">
      {% include "includes/card_head.html" %}
      <div class="col-lg-12">
      <div style="text-align: left; font-size: 12px" class="table-bordered">
        <table class="table table-sm">
          <tbody>
            <tr>
              <th class="col-lg-3">Пуредаваемый номер: </th>
              <td class="col-lg-9">{{ card.device.account }}</td>
            </tr>
            <tr>
              <th class="col-lg-3">Тип ППК: </th>
              <td class="col-lg-9">{{ card.device.device }}</td>
            </tr>
            {% for phone in card.device.sim.all %}
              <tr>
                <th class="col-lg-3">{{ phone.part_sim }}: </th>
                <td class="col-lg-9">
                  <div class="row">
                    <div class="col-lg">
                      Аб. номер: {{ phone.msisdn }}
                    </div>
                    <div class="col-lg">
                      ICCID: {{ phone.iccid }}
                    </div>
                    <div class="col-lg">
                      {% if phone.image %}
                        <div><a href="{{ phone.image.url }}"><img src="{{ phone.image.url }}" alt="" width="100" height="75" class="d-inline-block align-text-top"></a></div>
                      {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <th class="col-lg-3">Подготовил: </th>
              <td class="col-lg-9">{{ card.device.enginer_pult }} {{ card.device.changed_pult|date:"d.m.Y" }} {{ card.device.changed_pult|time:"H:i" }}</td>
            </tr>
            <tr>
              <th class="col-lg-3">Заполнил: </th>
              <td class="col-lg-9">{{ card.device.technican }} {{ card.device.changed_tech|date:"d.m.Y" }} {{ card.device.changed_tech|time:"H:i" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div style="text-align: left; font-size: 12px" class="col-lg-12">
      <p>
        {% if not card.device %}
          {% if user.role == 'engineer' or user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_device' card.id  %}" role="button">Добавить прибор</a>
          {% endif %}
        {% else %}
          {% if user.role == 'technican' or user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'upd_card_device' card.id  %}" role="button">Добавить информацию</a>
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}