{% extends "base.html" %}
{% block title %}
  {% if card.legal %}
    Карточка объекта {{ card.legal }}
  {% endif %}
  {% if card.individual %}
    Карточка объекта {{ card.individual }}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="col-sm-12">
    {% include "includes/card_nav.html" %}
    <div style="text-align: left; font-size: 12px" class="row justify-content-center">
      {% include "includes/card_head.html" %}
      <div class="col-sm-12">
      <div style="text-align: left; font-size: 12px" class="table-bordered-responsive">
        <table class="table table-sm">
            <thead>
          <tr>
            <th class="col-sm-1">Номер</th>
            <th class="col-sm-4">Раздел</th>
            <th class="col-sm-7">Описание</th>
          </tr>
        </thead>
          <tbody>
            {% for zone in card.device.zones.all %}
              <tr>
                <th>{{ zone.number }}</th>
                <td>{{ zone.partition }}</td>
                <td>{{ zone.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div style="text-align: left; font-size: 12px" class="col-sm-12">
      <p>
        {% if user.role == 'technican' or user.role == 'admin' and user.is_authenticated %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_zone' card.id  %}" role="button">Добавить зону</a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}