{% extends "base.html" %}
{% block title %}
  {% if card.legal %}
    Карточка объекта {{ card.legal }}
  {% endif %}
  {% if card.individual %}
    Карточка объекта {{ card.individual }}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
  <div class="col-sm-12">
    {% include "includes/card_nav.html" %}
    <div style="text-align: left; font-size: 12px" class="row justify-content-center">
      {% include "includes/card_head.html" %}
      <div class="col-sm-12">
        <div class="card text-center">
          <div class="row">
            {% for photo in card.card_photo.all %}
              <div class="col-sm-4">
                <div class="card text-left" style="width: 10rem;">
                  <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="{{ photo.image.url }}">{{ photo.title }}</a>
                  </div>
                </div>
              </div>
              <div class="w-40"></div>
            {% endfor %}
          </div>
          <div style="text-align: left; font-size: 12px" class="col-sm-12">
            <p>
              {% if user.role == 'technican' or user.role == 'admin' and user.is_authenticated %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'upd_card_photos' card.id  %}" role="button">Изменить фотографии</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}