{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 14px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>{{ header }}</h4>
      </div>
      <div class="card-body">
        <div style="text-align: left; font-size: 14px" class="table-responsive">
          <table class="table table-sm">
            <thead>
              <!--tr>
                <th class="col-lg-2"></th>
              </tr-->
            </thead>
            <tbody>
              <tr>
                <th class="col-lg-2">Передаваемый номер: </th>
                <td class="col-md-10">{{ device.account }}</td>
              </tr>
              <tr>
                <th class="col-lg-2">Оборудование передачи: </th>
                <td class="col-lg-10">{{ device.device }}</td>
              </tr>
              <tr>
                <th class="col-lg-2">SIM 1: </th>
                <td class="col-lg-10">{{ device.sim_first }}</td>
              </tr>
              <tr>
                <th class="col-lg-2">SIM 2: </th>
                <td class="col-lg-10">{{ device.sim_two }}</td>
              </tr>
              <tr>
                <th class="col-lg-2">Объект: </th>
                <td class="col-lg-10">{{ device.application }}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <p>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}