<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Оборудование{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>Оборудование</h3>
      </div>
    
      <div class="card-body">
        {% for device in object_list %}
          <li>
            <a href="#"> 
              {{ device }}
            </a>
          </li>
        {% endfor %}
        <br>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'applications' %}" role="button">Заявки</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}