{% extends "base.html" %}
{% load static %}

{% block title %}{{ title}}{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>{{ header }}</h4>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
              <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-left">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required">*</span>
                {% endif %}
              </label>
              <div class="col-md-6">
                {{ devicecardformset.management_form }}
                {# подключаем фильтр и указываем класс #}
                {{ field|addclass:"form-control"  }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
              </div>                
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-outline-success btn-sm">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}