
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {{cards}} text-dark" href="#">Карточка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{device}} text-dark" href="#">Оборудование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{qteam}} text-dark" href="#">Реагирование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{partitions}} text-dark" href="#">Разделы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{zone}} text-dark" href="#">Зоны</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{responsible}} text-dark" href="#">Ответственные лица</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  {{photos}} text-dark" href="#">Фотографии</a>
      </li>
    </ul>
  
    <div style="text-align: left; font-size: 12px" class="table-bordered">
      <table class="table table-sm">
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
