<br>
<div class="col-lg-2">
    <div class="card">
      <div style="text-align: left; font-size: 12px" class="table-borderless">
        <table class="table table-sm">
          <thead></thead>
          <tbody>
            <tr>
              <th class="col-lg-4">Объект: </th>
              <td class="col-lg-8">{{ card.device.account }}</td>
            </tr>
            <tr>
              <th class="col-lg-3">СПИ: </th>
              <td class="col-lg-9">{{ card.transmission }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div style="text-align: left; font-size: 12px" class="table-borderless">
        <table class="table table-sm">
          <thead></thead>
          <tbody>
            <tr>
              <th class="col-lg-3">Обслуживание: </th>
              <th class="col-lg-9"></th>
            </tr>
            <tr>
              <th class="col-lg-3">Договор: </th>
              <td class="col-lg-9"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <div style="text-align: left; font-size: 12px" class="table-borderless">
        <table class="table table-sm">
          <thead></thead>
          <tbody>
            <tr>
              <th class="col-lg-3">Охрана: </th>
              <th class="col-lg-9">
                {{card.contract.enterprise}}
              </th>
            </tr>
            <tr>
              <th class="col-lg-3">Договор: </th>
              <td class="col-lg-9">
                {% if action == 'contract' %}
                <form method="post" enctype="multipart/form-data" action="">
                  {% csrf_token %}
                  {{ form.contract }}
                  <button type="submit" class="badge badge-outline">Изменить</button>
                </form>
              {% else %}
                № {{card.contract.number}} от {{card.contract.date|date:"d.m.Y"}}
                {% if user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
                  <a class="badge badge-info" href="{% url 'upd_card_contract' card.pk %}" role="button">Изменить</a>
                {% endif %}
              {% endif %}
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>