<div class="col-sm-12">
  <div class="card">
    <div style="text-align: left; font-size: 12px">
      <table class="table table-bordered-sm">
        <thead></thead>
        <tbody>
          <tr>
            <td class="col-sm-2">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                    <th>Объект: </th>
                    <th>{{ account }}</th>
                  </tr>
                  <tr>
                    <th>СПИ: </th>
                    <td>{{ transmission }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="col-sm-5">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                  <th>Обслуживание: </th>
                  <th></th>
                  </tr>
                  <tr>
                    <th>Договор: </th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="col-sm-5">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                    <th>Охрана: </th>
                    <th>
                      {{enterprise}}
                    </th>
                  </tr>
                  <tr>
                    <th>Договор: </th>
                    <td>{{ contract }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>