<div class="col-sm-12">
  <div class="card">
    <div style="text-align: left; font-size: 12px">
      <table class="table table-bordered-sm">
        <thead></thead>
        <tbody>
          <tr>
            <td class="col-sm-2">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                    <th>Объект: </th>
                    <th>{{ card.object_key }}</th>
                  </tr>
                  <tr>
                    <th>СПИ: </th>
                    <td>{{ card.transmission }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="col-sm-5">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                  <th>Обслуживание: </th>
                  <th></th>
                  </tr>
                  <tr>
                    <th>Договор: </th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="col-sm-5">
              <table class="table table-sm">
                <thead></thead>
                <tbody>
                  <tr>
                    <th>Охрана: </th>
                    <th>
                      {{card.contract.enterprise}}
                    </th>
                  </tr>
                  <tr>
                    <th>Договор: </th>
                    <td>
                      {% if action == 'contract' %}
                        <form method="post" enctype="multipart/form-data" action="">
                          {% csrf_token %}
                          {{ form.contract }}
                          <button type="submit" class="badge badge-outline">Сохранить</button>
                        </form>
                      {% else %}
                        № {{card.contract.number}} от {{card.contract.date|date:"d.m.Y"}}
                        {% if user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
                          <a class="badge badge-info" href="{% url 'upd_card_contract' card.pk %}" role="button">Изменить</a>
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>