{% load static %}
<nav class="navbar navbar-light" style="background-color: #c4671c;">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/logo.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
    <span style="color:red">My</span>Company
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if user.is_authenticated %}
      Пользователь: <a class="p-2 text-dark" href="{% url 'index' %}">
        {{ user.last_name }}
        {{ user.first_name|first }}.{{ user.fathers_name|first }}.
      <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
      <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
    {% else %}
      <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
      <a class="p-2 text-dark" href="{% url 'users:new_user' %}">Регистрация</a>
    {% endif %}
  </nav>
</nav>
