{% extends "base.html" %}
{% block title %}
  Посты:&nbsp;
  {% if guardobject.qteam %}
    {{ guardobject.qteam.name }}
  {% else %}
    {% if guardobject.contract.legal %}
      {{ guardobject.contract.legal }}
    {% endif %}
    {% if guardobject.contract.individual %}
      {{ guardobject.contract.individual }}
    {% endif %}
  {% endif %}
{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 12px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>
          {% if guardobject.qteam %}
            {{ guardobject.qteam.name }}&nbsp;&nbsp;{{ guardobject.qteam.enterprise }}
          {% else %}
            {% if guardobject.contract.legal %}
              {{ guardobject.contract.legal }}&nbsp;&nbsp;{{ guardobject.contract.enterprise }}
            {% endif %}
            {% if guardobject.contract.individual %}
              {{ guardobject.contract.individual }}&nbsp;&nbsp;{{ guardobject.contract.enterprise }}
            {% endif %}
          {% endif %}
          {{ guardobject.number }}
          {% if guardobject.number == 1 %}
            пост
          {% endif %}
          {% if guardobject.number == 2 or guardobject.number == 3 or guardobject.number == 4 %}
            поста
          {% endif %}
          {% if guardobject.number > 4 %}
            постов
          {% endif %}
          {{ test }}
        </h5>
      </div>
      <div class="card-body" style="text-align: left; font-size: 12px">
        {% for post in guardobject.guard_posts.all %}
          <h6>пост {{ forloop.counter }} из {{ guardobject.number }}</h6>
          <p>{{ post.note }}</p>
          <div style="text-align: left; font-size: 12px" class="table-responsive">
            <table class="table table-sm">
              <thead>
                <th>
                  Сотрудники
                  {% if action != 'add_employees' %}
                    <a class="badge badge-primary btn-sm" href="{% url 'add_employees_post' guardobject.pk post.pk selection %}" role="button">Добавить/Удалить</a>
                  {% else %}
                    <a class="badge badge-primary btn-sm" href="{% url 'guard_object' guardobject.pk %}" role="button">Назад</a>
                  {% endif %}
                </th>
                <th></th>
              </thead>
              <tbody>
                {% for employee_post in post.personnel.all %}
                  <tr>
                    <td>{{ employee_post }}</td>
                    {% if action == 'add_employees' %}
                      <td><a class="badge badge-danger" href="{% url 'del_employee_post' guardobject.pk post.pk employee_post.pk %}" role="button">Удалить</a></td>
                    {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if action == 'add_employees' %}
            <div style="text-align: left; font-size: 12px" class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr><h6>Выбрать:</h6></tr>
                  <tr>
                    <th scope="col-3">Фамилия Имя Отчество</th>
                    <th scope="col-1">ЕПП</th>
                    <th scope="col-1">Медицина</th>
                    <th scope="col-1">Разряд</th>
                    <th scope="col-2">Номер удостоверения</th>
                    <th scope="col-1">Выдано</th>
                    <th scope="col-1">Продлено</th>
                    <th scope="col-2">Примечание</th>
                    <th></th>
                  </tr>
                  <form method="get">
                    <tr>
                      {% if selection %}
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                          <a class="btn btn-outline-secondary btn-sm" href="{% url 'add_employees_post' guardobject.pk post.pk '' %}" role="button">Сбросить</a>
                        </th>
                      {% else %}
                        <th>{{ filter.form.security }}</th>
                        <th></th>
                        <th></th>
                        <th>{{ filter.form.category }}</th>
                        <th>{{ filter.form.id_number }}</th>
                        <th>{{ filter.form.status }}</th>
                        <th></th>
                        <th></th>
                        <th>
                          &nbsp;<input type="submit" value="Найти" />
                        </th>
                      {% endif %}
                    </tr>
                  </form>
                </thead>
                <tbody>
                  {% for worker in security %}
                    <tr>
                      <td><a href="{% url 'det_security' worker.pk %}">{{ worker.security.name }}</a></td>
                      <td>
                        {{ worker.epp|date:"d.m.Y" }}
                        {% if worker.epp %}
                          {% if worker.epp|timeuntil:warning == expired|timeuntil:expired %}
                            <br>
                            {% if worker.epp|timeuntil:expired != expired|timeuntil:expired %}
                              <span style="color:red">осталось: {{ worker.epp|timeuntil:expired }}</span>
                            {% else %}
                              <span style="color:red">просрочено!</span>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>
                        {{ worker.medical|date:"d.m.Y" }}
                        {% if worker.epp %}
                          {% if worker.medical|timeuntil:warning == expired|timeuntil:expired %}
                            <br>
                            {% if worker.medical|timeuntil:expired != expired|timeuntil:expired %}
                              <span style="color:red">осталось: {{ worker.medical|timeuntil:expired }}</span>
                            {% else %}
                              <span style="color:red">просрочено!</span>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>{{ worker.category }}</td>
                      <td>
                        {{ worker.id_number }}
                        {% if worker.prolonged %}
                          {% if worker.prolonged|timeuntil:warning == expired|timeuntil:expired %}
                            <br>
                            {% if worker.prolonged|timeuntil:expired != expired|timeuntil:expired %}
                              <span style="color:red">осталось: {{ worker.prolonged|timeuntil:expired }}</span>
                            {% else %}
                              <span style="color:red">просрочено!</span>
                            {% endif %}
                          {% endif %}
                        {% else %}
                          {% if worker.issue|timeuntil:warning == expired|timeuntil:expired %}
                            <br>
                            {% if worker.issue|timeuntil:expired != expired|timeuntil:expired %}
                              <span style="color:red">осталось: {{ worker.issue|timeuntil:expired }}</span>
                            {% else %}
                              <span style="color:red">просрочено!</span>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>{{ worker.issue|date:"d.m.Y" }}</td>
                      <td>{{ worker.prolonged|date:"d.m.Y" }}</td>
                      <td>{{ worker.note }}</td>
                      <td><a class="badge badge-success" href="{% url 'add_employee_post' post.pk worker.pk selection %}" role="button">Выбрать</a></td>
                    <tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        {% endfor %}
        
      </div>
      {% if action == 'create_post' %}
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
              <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label text-sm-left">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required">*</span>
                {% endif %}
              </label>
              <div class="col-sm-6">
                {{ devicecardformset.management_form }}
                {# подключаем фильтр и указываем класс #}
                {{ field }}
              </div>                
            </div>
          {% endfor %}
        <br>
        <button type="submit" class="btn btn-outline-success btn-sm">Сохранить</button>
      </form>
      {% endif %}
      <div>
        {% if user.role == 'admin' and action != 'create_post' and guardobject.number > guardobject.guard_posts.count %}
        <p>
          <a class="btn btn-outline-primary btn-sm" href="{% url 'add_guard_post' guardobject.pk %}" role="button">Добавить пост</a>
        </p>
        {% endif %}
      </div>

    </div>
  </div>
</div>
{% endblock %}