{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
{% load user_filters %}
<div class="card">
  <div class="card-header">
    <h5>Контакты</h5>
  </div>
  <div class="card-body" style="text-align: left; font-size: 12px">
    
    <div style="text-align: left; font-size: 12px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Фамилия Имя Отчество</th>
            <th scope="col">Телефоны</th>
            <th></th>
          </tr>
          <form method="get">
            <tr>
              <th>{{ filter.form.name|addclass:"form-control" }}</th>
              <th>{{ filter.form.phone|addclass:"form-control" }}</th>
              <th>&nbsp;<input type="submit" value="Найти" /></th>
            </tr>
        </form>
        </thead>
        <tbody>
          {% for contact in page_obj %}
            <tr>
              <td>
                <a href="{% url 'contact' contact.pk %}">{{ contact.name }}</a>
              </td>
              <td>
                <table class="table table-sm">
                  <tbody>
                    {% for phone in contact.contacts.all %}
                      <tr>
                        <td>{{ phone.type }}</td>
                        <td>{{ phone.phone }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "includes/paginator.html" %}
      <br>
    </div>
    <div>
      {% if user.role == 'manager' or user.role == 'admin'  %}
      <p>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'add_contact' %}" role="button">Создать контакт</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}