{% extends "base.html" %}
{% block title %}Карточка контакта: {{ contact }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 12px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>
          {{ contact }}
          {% if user.role == 'manager' or user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'upd_contact' contact.id  %}" role="button">Изменить</a>
          {% endif %}
        </h5>
      </div>
      <div class="card-body">
        <div style="text-align: left; font-size: 12px" class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Телефоны:</th>
              </tr>
            </thead>
            <tbody>
              <td>
                {% for phone in contact.phones.all %}
                  <p>
                    <div class="row">
                      <div class="col-sm-2">{{ phone.type }}</div>
                      <div class="col-sm-2">{{ phone.phone }}</div>
                    </div>
                  </p>
                {% endfor %}
              </td>
            </tbody>
          </table>
          {% if contact.individual.all %}
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Физическое лицо:</th>
                </tr>
              </thead>
              <tbody>
                <td>
                  {% for individ in contact.individual.all %}
                    <p>
                      <div class="row">
                        <a class="col-sm-2" href="{% url 'individ' individ.pk  %}">{{ individ.name }}</a>
                      </div>
                    </p>
                  {% endfor %}
                </td>
              </tbody>
            </table>
          {% endif %}
          {% if contact.bigboss.all %}
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Генеральный директор:</th>
                </tr>
              </thead>
              <tbody>
                <td>
                  {% for legal in contact.bigboss.all %}
                    <p>
                      <div class="row">
                        <a class="col-sm-2" href="{% url 'legal' legal.pk  %}">{{ legal }}</a>
                      </div>
                    </p>
                  {% endfor %}
                </td>
              </tbody>
            </table>
          {% endif %} 
          <p>
            {% if user.role == 'manager' or user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
              <a class="btn btn-outline-primary btn-sm" href="{% url 'add_legal' contact.id  %}" role="button">Создать клиента ЮЛ</a>
              {% if not responsible.individual.all %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'add_individ' contact.id  %}" role="button">Создать клиента ФЛ</a>
              {% endif %}
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'contactlist' %}" role="button">Список контактов</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}