<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Клиенты: Физические лица{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Клиенты: Физические лица</h5>
      </div>
      <div class="card-body">

        <div style="text-align: left; font-size: 12px" class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="col-lg-4">Фамилия:</th>
                <th class="col-lg-3">Имя:</th>
                <th class="col-lg-3">Отчество:</th>
                <th class="col-lg-2">Договоров:</th>
              </tr>
              <form method="get">
                <tr>
                  <th>{{ filter.form.last_name }}</th>
                  <th>{{ filter.form.first_name }}</th>
                  <th>{{ filter.form.fathers_name }}&nbsp;<input type="submit" value="Найти" /></th>
                  <th></th>
                </tr>
              </form>
            </thead>
            {% for individual in object_list %}
              <tbody>
                <tr>
                  <td>
                    <a href="{% url 'individ' individual.pk  %}"> 
                      {{ individual.name.last_name }}
                    </a>
                  </td>
                  <td>{{ individual.name.first_name }}</td>
                  <td>{{ individual.name.fathers_name }}</td>
                  <td>
                    <a href="#"> 
                      {{ individual.individual.all|length }}
                    </a>
                  </td>
                </tr>
              </tbody>

            {% endfor %}
          </table>
          {% include "includes/paginator.html" %}
        </div>
        <br>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'contactlist' %}" role="button">Контакты</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
