{% extends "base.html" %}
{% load static %}

{% block title %}Добавить данные физического лица{% endblock %}
{% block content %}
{% load user_filters %}
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>{{ individual.last_name }} {{ individual.first_name }} {{ individual.fathers_name }}</h3>
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
              <label for="{{ field.id_for_label }}" class="col-md-2 col-form-label text-md-left">
                {% if field.id_for_label == 'id_phone' %}  
                  <a class="btn btn-outline-primary btn-sm" href="{% url 'add_phone' %}" role="button">{{ field.label }} (добавить номер)</a>
                {% else %}
                  {{ field.label }}
                {% endif %}
                {% if field.field.required %}
                  <span class="required">*</span>
                {% endif %}
              </label>
              <div class="col-md-6">
                {# подключаем фильтр и указываем класс #}
                {% if field.id_for_label == 'id_date' %}
                  {{ field }}
                {% else %}
                  {{ field|addclass:"form-control" }}
                {% endif %}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
              </div>                
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-outline-success btn-sm">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}