{% extends "base.html" %}
{% block title %}Физическое лицо: {{ individual }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 12px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ individual.name }} </h5>
      </div>
      <div class="card-body">
        <div style="text-align: left; font-size: 12px" class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="col-sm-2">Паспорт:</th>
                <th class="col-sm-10"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-sm-2">Серия Номер: </th>
                <td class="col-sm-10">{{ individual.num_pass }}</td>
              </tr>
              <tr>
                <th class="col-sm-2">Выдан: </th>
                <td class="col-sm-10">{{ individual.issued }}</td>
              </tr>
              <tr>
                <th class="col-sm-2">Дата выдачи: </th>
                <td class="col-sm-10">{{ individual.date }}</td>
              </tr>
            </tbody>
          </table>
          {% if individual.individual.all %}
            <table class="table table-sm">
              <thead>
                <tr>
                  <th ><br>Договора:</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!--th class="col-sm-9"></th-->
                </tr>
                <tr>
                  <th>Предприятие</th>
                  <th>Номер</th>
                  <th>Дата</th>
                  <th>Статус</th>
                </tr>
              </thead>
              <tbody>
                {% for contract in individual.individual.all %}
                  <tr>
                    <th>{{contract.enterprise}}</th>
                    <td>{{contract.number}}</td>
                    <td>{{contract.date}}</td>
                    <td>{{contract.status}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          <br>
          <p>
            {% if user.role == 'manager' or user.role == 'admin' and user.is_authenticated %}
              <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_individual' individual.pk %}" role="button">Создать карточку объекта</a>
            {% endif %}
            {% if user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
              <a class="btn btn-outline-primary btn-sm" href="{% url 'add_contract_individual' individual.pk %}" role="button">Создать договор</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'individual' %}" role="button">Список клиентов ФЛ</a>
            <a class="btn btn-outline-primary btn-sm" href="{% url 'contactlist' %}" role="button">Список контактов</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}