{% extends "base.html" %}
{% block title %}Юридическое лицо: {{ legal }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 12px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ legal.fullname }} </h5>
      </div>
      <div class="card-body">
        <div style="text-align: left; font-size: 12px" class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="col-sm-3">Реквизиты:</th>
                <th class="col-sm-9"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-sm-3">Полное наименование</th>
                <td>{{ legal.fullname }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Сокращенное наименование</th>
                <td>{{ legal.abbreviatedname }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Юридический адрес</th>
                <td>{{ legal.legaladdress }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Почтовый адрес</th>
                <td>{{ legal.postaladdress }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Телефон/факс</th>
                <td>{{ legal.telephone }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">ИНН</th>
                <td>{{ legal.inn }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">КПП</th>
                <td>{{ legal.kpp }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">ОГРН</th>
                <td>{{ legal.ogrn }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Рассчётный счёт</th>
                <td>{{ legal.payment }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Корреспондентский счёт</th>
                <td>{{ legal.correspondent }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">БИК банка</th>
                <td>{{ legal.bic }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Банк</th>
                <td>{{ legal.bank }}</td>
              </tr>
              <tr>
                <th class="col-sm-3">Ген. директор</th>
                <td>{{ legal.bigboss }}</td>
              </tr>
            </tbody>
          </table>
          {% if legal.legal.all %}
            <table class="table table-sm">
              <thead>
                <tr>
                  <th ><br>Договора:</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!--th class="col-sm-9"></th-->
                </tr>
                <tr>
                  <th>Предприятие</th>
                  <th>Номер</th>
                  <th>Дата</th>
                  <th>Статус</th>
                </tr>
              </thead>
              <tbody>
                {% for contract in legal.legal.all %}
                  <tr>
                    <th>{{contract.enterprise}}</th>
                    <td>{{contract.number}}</td>
                    <td>{{contract.date}}</td>
                    <td>{{contract.status}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div> 
        <br>
        <p>
          {% if user.role == 'manager' or user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'add_card_legal' legal.pk %}" role="button">Создать карточку объекта</a>
          {% endif %}
          {% if user.role == 'director' or user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-primary btn-sm" href="{% url 'add_contract_legal' legal.pk %}" role="button">Создать договор</a>
          {% endif %}
          <a class="btn btn-outline-primary btn-sm" href="{% url 'legals' %}" role="button">Список клиентов ЮЛ</a>
          <a class="btn btn-outline-primary btn-sm" href="{% url 'contactlist' %}" role="button">Список контактов</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}