<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Клиенты: Юридические лица{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>Клиенты: Юридические лица</h3>
      </div>
    
      <div class="card-body">
        {% for legal in object_list %}
          <li>
            <a href="#"> 
              {{ legal }}
            </a>
          </li>
        {% endfor %}
        <br>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Назад</a>
        <a class="btn btn-primary" href="#" role="button">Добавить</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
