{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h5>Контакты</h5>
  </div>
  <div class="card-body" style="text-align: left; font-size: 14px">
    
    <div style="text-align: center; font-size: 12px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Телефоны</th>
          </tr>
          <form method="get">
            <tr>
              <th>{{ filter.form.last_name }}</th>
              <th>{{ filter.form.first_name }}</th>
              <th>{{ filter.form.fathers_name }}</th>
              <th>{{ filter.form.phone }}&nbsp;<input type="submit" value="Найти" /></th>
            </tr>
        </form>
        </thead>
        <tbody>
          {% for contact in page_obj %}
            <tr>
              <td>
                <a href="{% url 'contact' contact.pk %}">{{ contact.last_name }}</a>
              </td>
              <td>
                {{contact.first_name }}
              </td>
              <td> 
                {{ contact.fathers_name }}
              <td>
                {% for phone in contact.contacts.all %}
                  <p>
                    {{ phone.type }} | {{ phone.phone }}
                  </p>
                {% endfor %}
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "includes/paginator.html" %}
      <br>
    </div>
    <div>
      {% if user.role == 'manager' or user.role == 'admin'  %}
      <p>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'add_contact' %}" role="button">Создать контакт</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}