<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}{{ company }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: center; font-size: 16px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>{{ company }}</h3>
      </div>
      <div class="card-body">
        <table style="text-align: left" class="table table-bordered">
          <tbody>
            <tr>
              <td>Полное наименование</td>
              <td>{{ company.fullname }}</td>
            </tr>
            <tr>
              <td>Сокращенное наименование</td>
              <td>{{ company.abbreviatedname }}</td>
            </tr>
            <tr>
              <td>Юридический адрес</td>
              <td>{{ company.legaladdress }}</td>
            </tr>
            <tr>
              <td>Почтовый адрес</td>
              <td>{{ company.postaladdress }}</td>
            </tr>
            <tr>
              <td>Телефон/факс</td>
              <td>{{ company.telephone }}</td>
            </tr>
            <tr>
              <td>ИНН</td>
              <td>{{ company.inn }}</td>
            </tr>
            <tr>
              <td>КПП</td>
              <td>{{ company.kpp }}</td>
            </tr>
            <tr>
              <td>ОГРН</td>
              <td>{{ company.ogrn }}</td>
            </tr>
            <tr>
              <td>Рассчётный счёт</td>
              <td>{{ company.payment }}</td>
            </tr>
            <tr>
              <td>Корреспондентский счёт</td>
              <td>{{ company.correspondent }}</td>
            </tr>
            <tr>
              <td>БИК банка</td>
              <td>{{ company.bic }}</td>
            </tr>
            <tr>
              <td>Банк</td>
              <td>{{ company.bank }}</td>
            </tr>
            <tr>
              <td>Ген. директор</td>
              <td>{{ company.bigboss }}</td>
            </tr>
          </tbody>
        </table> 
        <br>
        <a class="btn btn-primary" href="{% url 'edit_enterprise' company.abbreviatedname  %}" role="button">Редактировать</a>
        <a class="btn btn-primary" href="{% url 'enterprises' %}" role="button">Назад</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}