<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}{{ company }}{% endblock %}
{% load static %}
{% block content %}
  <div class="container">
    <h3>{{ company }}</h3>
    <div class="row">
      <div class="col-3">Полное наименование</div>
      <div class="col-9">{{ company.fullname }}</div>
    </div>
    <div class="row">
      <div class="col-3">Сокращенное наименование</div>
      <div class="col-9">{{ company.abbreviatedname }}</div>
    </div>
    <div class="row">
      <div class="col-3">Юридический адрес</div>
      <div class="col-9">{{ company.legaladdress }}</div>
    </div>
    <div class="row">
      <div class="col-3">Почтовый адрес</div>
      <div class="col-9">{{ company.postaladdress }}</div>
    </div>
    <div class="row">
      <div class="col-3">Телефон/факс</div>
      <div class="col-9">{{ company.telephone }}</div>
    </div>
    <div class="row">
      <div class="col-3">ИНН</div>
      <div class="col-9">{{ company.inn }}</div>
    </div>
    <div class="row">
      <div class="col-3">КПП</div>
      <div class="col-9">{{ company.kpp }}</div>
    </div>
    <div class="row">
      <div class="col-3">ОГРН</div>
      <div class="col-9">{{ company.ogrn }}</div>
    </div>
    <div class="row">
      <div class="col-3">Рассчётный счёт</div>
      <div class="col-9">{{ company.payment }}</div>
    </div>
    <div class="row">
      <div class="col-3">Корреспондентский счёт</div>
      <div class="col-9">{{ company.correspondent }}</div>
    </div>
    <div class="row">
      <div class="col-3">БИК банка</div>
      <div class="col-9">{{ company.bic }}</div>
    </div>
    <div class="row">
      <div class="col-3">Банк</div>
      <div class="col-9">{{ company.bank }}</div>
    </div>
    <div class="row">
      <div class="col-3">Ген. директор</div>
      <div class="col-9">{{ company.bigboss }}</div>
    </div>
  </div>
{% endblock %}