{% extends "base.html" %}
{% block title %} {{ title }} Охранник {{ security.security.name }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: left; font-size: 12px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>
          {{ security.security.name }}&nbsp;&nbsp;{{ security.category }}
          {% if user.role == 'admin' and user.is_authenticated %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'upd_security' security.pk %}" role="button">Изменить</a>
          {% endif %}
        </h5>
      </div>
      <div class="card-body">
        <div style="text-align: left; font-size: 12px">
          <div class="media">
            {% if security.photo %}
              <img src="{{ security.photo.url }}" class="align-self-start mr-3" alt="" width="90" height="120">
            {% else %}
              <img src="#" class="align-self-start mr-3" alt="" width="90" height="120">
            {% endif %}
            <div class="media-body">
              <h6 class="mt-0">
                Удостоверение: {{ security.id_number }} ( {{ security.status }}
                {% if security.prolonged %}
                  {% if security.prolonged|timeuntil:warning == expired|timeuntil:expired %}
                    {% if security.prolonged|timeuntil:expired != expired|timeuntil:expired %}
                      - осталось: {{ security.prolonged|timeuntil:expired }}
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if security.issue|timeuntil:warning == expired|timeuntil:expired %}
                    {% if security.issue|timeuntil:expired != expired|timeuntil:expired %}
                      - осталось: {{ security.issue|timeuntil:expired }}
                    {% endif %}
                  {% endif %}
                {% endif %}
                )
              </h6>
              <p></p>
              <p>Выдано:&nbsp;&nbsp;&nbsp;   {{ security.issue|date:"d.m.Y" }}</p>
              <p>Продлено:&nbsp; {{ security.prolonged|date:"d.m.Y" }}</p>
              <p>
                ЕПП: {{ security.epp|date:"d.m.Y" }}
                {% if security.epp %}
                  {% if security.epp|timeuntil:warning == expired|timeuntil:expired %}
                    {% if security.epp|timeuntil:expired != expired|timeuntil:expired %}
                      - осталось: {{ security.epp|timeuntil:expired }}
                    {% else %}
                      - просрочено!
                    {% endif %}
                  {% endif %}
                {% endif %}
                &nbsp;&nbsp; 
                Медицина: {{ security.medical|date:"d.m.Y" }}
                {% if security.epp %}
                  {% if security.medical|timeuntil:warning == expired|timeuntil:expired %}
                    {% if security.medical|timeuntil:expired != expired|timeuntil:expired %}
                      - осталось: {{ security.medical|timeuntil:expired }}
                    {% else %}
                      - просрочено!
                    {% endif %}
                  {% endif %}
                {% endif %}
              </p>
              {% if security.note %}
                <p>
                  <h6>Примечание:</h6>
                  {{ security.note }}
                </p>
              {% endif %}
            </div>
          </div>
          <div class="card-header">
            <h6>
              Личные карточки:
              {% if user.role == 'admin' %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'add_personalcard' security.pk %}" role="button">Добавить</a>
              {% endif %}
            </h6>
          </div>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col-sm-2">Серия номер</th>
                <th scope="col-sm-3">Предприятие</th>
                <th scope="col-sm-3">Тип</th>
                <th scope="col-sm-2">Дата выдычи</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for card in security.cards.all %}
                {% if action == 'upd_personalcard' and card.id == id %}
                  <form method="post" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <tr>
                      <td>{{ form.series }}{{ form.series.errors.as_ul }}{{ form.number }}{{ form.number.errors.as_ul }}</td>
                      <td>{{ form.enterprise }}{{ form.enterprise.errors.as_ul }}</td>
                      <td>{{ form.type }}{{ form.type.errors.as_ul }}</td>
                      <td>{{ form.issue }}{{ form.issue.errors.as_ul }}</td>
                      <td>
                       <button type="submit" class="badge badge-success">Сохранить</button>
                        <a class="badge badge-secondary" href="{% url 'det_security' security.pk %}" role="button">Отменить</a>
                      </td>
                    </tr>
                  </form>
                {% else %}
                  <tr>
                    <td>{{ card.series }} №{{ card.number }}</td>
                    <td>{{ card.enterprise }}</td>
                    <td>{{ card.type }}</td>
                    <td>{{ card.issue|date:"d.m.Y" }}</d>
                    <td>
                      {% if user.role == 'admin' %}
                        <a class="badge badge-danger" href="{% url 'del_personalcard' card.pk %}" role="button">Удалить</a>
                        <a class="badge badge-info" href="{% url 'upd_personalcard' card.pk %}" role="button">Изменить</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %} 
              {% if action == 'add_personalcard' %}
                <form method="post" enctype="multipart/form-data" action="">
                  {% csrf_token %}
                  <tr>
                    <td>{{ form.series }}{{ form.series.errors.as_ul }}{{ form.number }}{{ form.number.errors.as_ul }}</td>
                    <td>{{ form.enterprise }}{{ form.enterprise.errors.as_ul }}</td>
                    <td>{{ form.type }}{{ form.type.errors.as_ul }}</td>
                    <td>{{ form.issue }}{{ form.issue.errors.as_ul }}</td>
                    <td>
                      <button type="submit" class="badge badge-success">Сохранить</button>
                      <a class="badge badge-secondary" href="{% url 'det_security' security.pk %}" role="button">Отменить</a>
                    </td>
                  </tr>
                </form>
              {% endif %}
            </tbody>
          </table>
          <div class="card-header">
            <h6>
              Разрешения на хранение и ношение оружия:
              {% if user.role == 'admin' %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'add_weaponspermit' security.pk %}" role="button">Добавить</a>
              {% endif %}
            </h6>
          </div>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col-sm-2">Серия номер</th>
                <th scope="col-sm-3">Предприятие</th>
                <th scope="col-sm-3">Оружие</th>
                <th scope="col-sm-2">Дата выдычи</th>
                <th>
                  
                </th>
              </tr>
            </thead>
            <tbody>
              {% for permit in security.permits.all %}
                {% if action == 'upd_weaponspermit' %}
                  <form method="post" enctype="multipart/form-data" action="">
                  {% csrf_token %}
                    <tr>
                      <td>{{ form.series }}{{ form.series.errors.as_ul }}{{ form.number }}{{ form.number.errors.as_ul }}</td>
                      <td>{{ form.enterprise }}{{ form.enterprise.errors.as_ul }}</td>
                      <td>{{ form.weapon }}{{ form.weapon.errors.as_ul }}</td>
                      <td>{{ form.issue }}{{ form.issue.errors.as_ul }}</td>
                      <td>
                        <button type="submit" class="badge badge-success">Сохранить</button>
                        <a class="badge badge-secondary" href="{% url 'det_security' security.pk %}" role="button">Отменить</a>
                      </td>
                    </tr>
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  </form>
                {% else %}
                  <tr>
                    <td>{{ permit.series }} №{{ permit.number }}</td>
                    <td>{{ permit.enterprise }}</td>
                    <td>{{ permit.weapon }}</td>
                    <td>{{ permit.issue|date:"d.m.Y" }}</td>
                    <td>
                      {% if user.role == 'admin' %}
                        <a class="badge badge-danger" href="{% url 'del_weaponspermit' permit.pk %}" role="button">Удалить</a>
                        <a class="badge badge-info" href="{% url 'upd_weaponspermit' permit.pk %}" role="button">Изменить</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              {% if action == 'add_weaponspermit' %}
                <form method="post" enctype="multipart/form-data" action="">
                  {% csrf_token %}
                  <tr>
                    <td>{{ form.series }}{{ form.series.errors.as_ul }}{{ form.number }}{{ form.number.errors.as_ul }}</td>
                    <td>{{ form.enterprise }}{{ form.enterprise.errors.as_ul }}</td>
                    <td>{{ form.weapon }}{{ form.weapon.errors.as_ul }}</td>
                    <td>{{ form.issue }}{{ form.issue.errors.as_ul }}</td>
                    <td>
                      <button type="submit" class="badge badge-success">Сохранить</button>
                      <a class="badge badge-secondary" href="{% url 'det_security' security.pk %}" role="button">Отменить</a>
                    </td>
                  </tr>
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                </form>
              {% endif %}
            </tbody>
          </table>
          <p><a class="btn btn-outline-primary btn-sm" href="{% url 'security' %}" role="button">Охранники</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}