{% extends "base.html" %}
{% load static %}
{% block title %}Сотрудники{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-11 p-5">
    <div class="card">
      <div class="card-header">
        <h3>Сотрудники</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Должность</th>
              <th scope="col">Сотрудник</th>
            </tr>
          </thead>
          <tbody>
            {% for staffer in staffers %}
              <tr>
                <td>{{ staffer.post }}</td>
                <td>{{ staffer }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="{% url 'guide' %}" role="button">Назад</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}