{% extends "base.html" %}
{% load static %}
{% block title %}Оружие{% endblock %}
{% block content %}
{% load user_filters %}
<div class="card">
  <div class="card-header">
    <h5>Оружие</h5>
  </div>
  <div class="card-body" style="text-align: left; font-size: 12px">
    <div style="text-align: left; font-size: 12px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Модель</th>
            <th scope="col">Калибр</th>
            <th scope="col">Серия Номер</th>
            <th scope="col">Год выпуска</th>
            <th></th>
            <th scope="col">Разрешения</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for weapon in weapons %}
            <tr>
              <td>{{ weapon.model }}</td>
              <td>{{ weapon.caliber }}</td>
              <td>{{ weapon.series }} №{{ weapon.number }}</td>
              <td>{{ weapon.release }} г.в.</td>
              <td>
                {% if user.role == 'admin' %}
                {% endif %}
              </td>
              <td>
                <table class="table table-sm">
                  <tbody>
                    {% for permit in weapon.weapons.all %}
                      <tr>
                        <td><a href="{% url 'det_security' permit.security.pk %}">{{ permit }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>

      <script type="text/javascript">
        $(document).ready(function(){
          $("#createWeaponModal").show(); 
        });
      </script>
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#createWeaponModal">
          Добавить
        </button>
      </p>
      <div class="modal" id="createWeaponModal" tabindex="-1" aria-labelledby="createWeaponModal" aria-hidden="true">
        <div class="modal-dialog">
          <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h6 class="modal-title" id="createWeaponModal">Добавить оружие</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% for field in form %}
                  <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-sm-left">
                      {{ field.label }}
                      {% if field.field.required %}
                        <span class="required" style="color:red">*</span>
                      {% endif %}
                    </label>
                    <div class="col-sm-6">
                      {{ devicecardformset.management_form }}
                      {# подключаем фильтр и указываем класс #}
                      {{ field.errors.as_ul }}
                      {{ field }}
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                      {% endif %}
                    </div>                
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <!--button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Отменить</button-->
                <button type="submit" class="btn btn-outline-success btn-sm">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>

  </div>
</div>

{% endblock %}