{% extends "base.html" %}
{% block title %}Оружие{% endblock %}
{% block content %}
{% load user_filters %}
<div class="card">
  <div class="card-header">
    <h5>Оружие</h5>
  </div>
  <div class="card-body" style="text-align: left; font-size: 12px">
    <div style="text-align: left; font-size: 12px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Модель</th>
            <th scope="col">Калибр</th>
            <th scope="col">Серия Номер</th>
            <th scope="col">Год выпуска</th>
            <th></th>
            <th scope="col">Разрешения</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for weapon in weapons %}
            <tr>
              <td>{{ weapon.model }}</td>
              <td>{{ weapon.caliber }}</td>
              <td>{{ weapon.series }} №{{ weapon.number }}</td>
              <td>{{ weapon.release }} г.в.</td>
              <td>
                {% if user.role == 'admin' %}
                  <a class="badge badge-danger" data-toggle="modal" data-target="#deleteModal-{{weapon.pk}}" role="button">
                    Удалить
                  </a>
                  <div class="modal fade" id="deleteModal-{{weapon.pk}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h6>Удалить оружие {{ weapon }} со всеми разрешениями?</h6>
                          <table class="table table-sm">
                            <tbody>
                              {% for permit in weapon.weapons.all %}
                                <tr>
                                  <td>{{ permit }}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отменить</button>
                          <a class="btn btn-danger btn-sm" href="{% url 'del_weapon' weapon.pk %}" role="button">Точно удалить</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--a class="badge badge-danger" href="{% url 'del_weapon' weapon.pk %}" role="button">Удалить</a-->
                  <a class="badge badge-info" href="{% url 'upd_weapon' weapon.pk %}" role="button">Изменить</a>
                {% endif %}
              </td>
              <td>
                <table class="table table-sm">
                  <tbody>
                    {% for permit in weapon.weapons.all %}
                      <tr>
                        <td><a href="{% url 'det_security' permit.security.pk %}">{{ permit }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
    </div>
      {% if user.role == 'admin'  %}
      <script type="text/javascript">
        $(document).ready(function(){
          $("#updateWeaponModal").show();
        });
      </script>
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#createWeaponModal">
          Добавить
        </button>
      </p>
      <div class="modal" id="{{ modal }}" tabindex="-1" aria-labelledby="{{ modal }}" aria-hidden="true">
        <div class="modal-dialog">
          <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                {% if modal == 'updateWeaponModal' %}
                  <h6 class="modal-title" id="updateWeaponModal">Изменить {{ weapon }}</h6>
                {% else %}
                  <h6 class="modal-title" id="createWeaponModal">Добавить оружие</h6>
                {% endif %}
              </div>
              <div class="modal-body">
                {% for field in form %}
                  <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-sm-left">
                      {{ field.label }}
                      {% if field.field.required %}
                        <span class="required" style="color:red">*</span>
                      {% endif %}
                    </label>
                    <div class="col-sm-6">
                      {# подключаем фильтр и указываем класс #}
                      {{ field }}
                      {% if field.errors %}
                        <script type="text/javascript">
                          $(document).ready(function(){
                            $("#createWeaponModal").show();
                          });
                        </script>
                      {% endif %}
                      <span class="required" style="color:red">{{ field.errors.as_ul }}</span>
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                      {% endif %}
                    </div>                
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'weapons' %}" role="button">Отменить</a>
                <button type="submit" class="btn btn-outline-success btn-sm">Сохранить</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}