{% extends "base.html" %}
{% block title %}Сотрудники{% endblock %}
{% block content %}
{% load user_filters %}
<div class="card">
  <div class="card-header">
    <h5>Сотрудники</h5>
  </div>
  <div class="card-body" style="text-align: left; font-size: 12px">
    
    <div style="text-align: left; font-size: 12px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col-3">Фамилия Имя Отчество</th>
            <th scope="col-1">Должность</th>
            <th scope="col-2">Примечание</th>
            <th></th>
          </tr>
          <form method="get">
            <tr>
              <th>{{ filter.form.name }}</th>
              <th>{{ filter.form.post }}</th>
              <th></th>
              <th>&nbsp;<input type="submit" value="Найти" /></th>
            </tr>
        </form>
        </thead>
        <tbody>
          {% for worker in workers %}
            <tr>
              <td><a href="#">{{ worker.name }}</a></td>
              <td>{{ worker.post }}</td>
              <td>
                {% if worker.bigboss.all %}
                  {% for enterprise in worker.bigboss.all %}
                    {{ enterprise }}
                  {% endfor %}
                {% endif %}
                {% if worker.worker.all %}
                  {% for security in worker.worker.all %}
                    удостоверение {{ security.id_number }}
                  {% endfor %}
                {% endif %}
              </td>
              <td>
                <a class="badge badge-danger" data-toggle="modal" data-target="#deleteModal-{{worker.pk}}" role="button">
                  Удалить
                </a>
                <div class="modal fade" id="deleteModal-{{worker.pk}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                        <h6>Удалить сотрудника {{ worker }}</h6>
                        <table class="table table-sm">
                          <tbody>
                            {% if worker.bigboss.all %}
                              {% for enterprise in worker.bigboss.all %}
                                <tr>
                                  <td>{{ enterprise }}</td>
                                </tr>
                              {% endfor %}
                            {% endif %}
                            {% if worker.worker.all %}
                              {% for security in worker.worker.all %}
                                <tr>
                                  <td>удостоверение {{ security.id_number }}</td>
                                </tr>
                                {% if security.cards.all %}
                                  <tr>
                                    <th>личные карточки:</th>
                                  </tr>
                                  {% for card in security.cards.all %}
                                    <tr>
                                      <td>{{ card.series }} №{{ card.number }}</td>
                                    </tr>
                                  {% endfor %}
                                {% endif %}
                                {% if security.permits.all %}
                                  <tr>
                                    <th>разрешения на оружие:</th>
                                  </tr>
                                  {% for permit in security.permits.all %}
                                    <tr>
                                      <td>{{ permit.series }} №{{ permit.number }}</td>
                                    </tr>
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Отменить</button>
                        <a class="btn btn-danger btn-sm" href="{% url 'del_worker' worker.pk %}" role="button">Точно удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--a class="badge badge-danger" href="{% url 'del_worker' worker.pk %}" role="button">Удалить</a-->
                <a class="badge badge-info" href="{% url 'upd_worker' worker.pk %}" role="button">Изменить</a>
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      
      <br>
    </div>
    <div>
      {% if user.role == 'admin'  %}
      <p>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'add_worker' %}" role="button">Добавить сотрудника</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}