<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="data:,">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}">
    <script src="{% static 'js/datepicker.min.js' %}"></script>    
    
    {% block extrahead %}
    
      <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
      <script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}">
      <style>.calendar>table>caption{caption-side:unset}</style><!--caption fix for bootstrap4-->
    
      {{ form.media }}

    {% endblock %}

  </head>
  <body>
    {% include "includes/nav.html" %}
      <div class="row justify-auto-content-center ">
        <!--div class="col-auto">
          {% include "includes/navsidebar.html" %}
        </div-->
        <div class="container">
          <main>
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock %}
          </main>
        </div>
      </div>
    
    {% include "includes/footer.html" %}
  </body>
</html>

