<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block extrahead %}
      {{ form.media }}
    {% endblock %}

  </head>
  <body>
    {% include "includes/nav.html" %}
      <div class="row justify-auto-content-center ">
        <div class="col-auto">
          {% include "includes/navsidebar.html" %}
        </div>
        <div class="container">
          <main>
            {% block content %}
              <!-- Содержимое страницы -->
            {% endblock %}
          </main>
        </div>
      </div>
    {% include "includes/footer.html" %}
  </body>
</html>
    
