<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Справочники{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5>Справочники</h5>
      </div>
      <div class="card-body">
        <li>
          <a href="{% url 'enterprises' %}">Предприятия</a>
        </li>
        <li>
          <a href="{% url 'positions' %}">Должности</a>
        </li>
        <li>
          <a href="{% url 'staffers' %}">Сотрудники</a>
        </li>
        <li>
          <a href="#">Клиенты</a>
        </li>
        <li>
          <a href="#">Ответственные лица</a>
        </li>
      </div>
    </div>
  </div>
</div>
{% endblock %}