{% extends "base.html" %}
{% block title %}{{ order }}{% endblock %}
{% load static %}
{% block content %}
<div style="text-align: center; font-size: 14px" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>Приказ №{{ order.number }} по предприятию: {{ order.firm }}: {{ order.action }}</h4>
      </div>
      <div class="card-body">
        <table style="text-align: left" class="table table">
          <thead>
            <tr>
              <th scope="col">Статус</th>
              <th scope="col">Создал:</th>
              <th scope="col">Дата создания:</th>
              <th scope="col">Выполнить до:</th>
              <th scope="col">Изменил:</th>
              <th scope="col">Дата изменения:</th>
              <th scope="col">Исполнители</th>
            </tr>
          </thead>
          <tbody>
            <td>{{ order.status }}</td>
            <td>
              {{ order.author.last_name }}
              {{ order.author.first_name|first }}.{{ order.author.fathers_name|first }}.
            </td>
            <td>{{ order.generated }}</td>
            <td>{{ order.perday }}</td>
            <td>
              {{ order.lastuser.last_name }}
              {{ order.lastuser.first_name|first }}.{{ order.lastuser.fathers_name|first }}.
            </td>
            <td>{{ order.changed }}</td>
            <td>
              {% for contractor in order.contractor.all %}
                {{ contractor.last_name }}
                {{ contractor.first_name|first }}.{{ contractor.fathers_name|first }}.&nbsp;&nbsp;
              {% endfor %}
            </td>
           </tbody>
        </table>
        <table style="text-align: left" class="table table">
          <thead>
            <tr>
              <th scope="col">Комментарий:</th>
            </tr>
          </thead>
          <tbody>
            <td>{{ order.comment }}</td>
          </tbody>
        </table>
        <table style="text-align: left" class="table table">
            <thead>
              <tr>
                <th scope="col">Файлы</th>
              </tr>
            </thead>
            <tbody>
              <td>
                {% for file in order.order.all %}
                  <li>
                    <a href="{{ file.file.url }}">{{ file.file }}</a>
                  </li>
                {% endfor %}
                <br>
                <a class="btn btn-outline-info" href="{% url 'doc' order.id  %}" role="button">Добавить файл</a>
              </td>
             </tbody>
          </table>
        <br>
        <a class="btn btn-primary" href="{% url 'orders' %}" role="button">Приказы</a>
        <a class="btn btn-primary" href="{% url 'update_order' order.id  %}" role="button">Редактировать</a>
        <a class="btn btn-danger" href="{% url 'delete_order' order.id %}">Удалить</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}