{% extends "base.html" %}
{% block title %}Приказы{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <h3>Приказы</h3>
  </div>
  <div class="card-body" style="text-align: left; font-size: 14px">
    <form method="get">
        <p>
          Статус: {{ filter.form.status }}&nbsp;&nbsp;
          Номер: {{ filter.form.number }}&nbsp;&nbsp;
          Примечание: {{ filter.form.comment }}&nbsp;&nbsp;
          Дата от: {{ filter.form.generated_gt }}&nbsp;&nbsp;
          Дата до: {{ filter.form.generated_lt }}&nbsp;&nbsp;
          <input type="submit" value="Найти" />
        </p>
      </form>
    <div style="text-align: center; font-size: 14px" class="table-responsive">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Статус</th>
            <th scope="col">Номер</th>
            <th scope="col">Создан</th>
            <th scope="col">Предприятие</th>
            <th scope="col">Что сделать</th>
            <th scope="col">Выполнить до:</th>
            <th scope="col">Назначен</th>
            <th scope="col">Файлы</th>
          </tr>
        </thead>
        <tbody>
          {% for order in page_obj %}
            <tr>
              <td>
                {{ order.status }}
                {{ order.lastuser.last_name }}
                {{ order.lastuser.first_name|first }}.{{ order.lastuser.fathers_name|first }}.
              </td>
              <td> 
                <a href="{% url 'order' order.pk %}">{{ order.number }}</a>
              </td>
              <td> 
                {{ order.generated|date:"d.m.Y" }}
              </td>
              <td> 
                {{ order.firm }}
              </td>
              <td> 
                {{ order.action }}
              </td>
              <td> 
                {{ order.perday|date:"d.m.Y" }}
              </td>
              <td>
                {% for contractor in order.contractor.all %}
                  <p>
                    {{ contractor.last_name }}
                    {{ contractor.first_name|first }}.{{ contractor.fathers_name|first }}.
                  </p>
                {% endfor %}
              </td>
              <td>
                {% if user.role == 'secretary' %}
                  <a class="badge rounded-pill bg-primary text-white" href="{% url 'add_doc' order.id  %}" role="button">Добавить файл</a>
                {% endif %}
                {% if order.files.all %}
                  {% load static %}
                  <a href="{% url 'order' order.pk %}"><img src="{% static 'img/documents.png' %}" alt="" width="15" height="15" class="d-inline-block align-text-top"></a>
                {% endif %}
              </td>
            <tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination pagination-sm">
          {% if page_obj.number > 1 %}
            <li class="page-item"><a class="page-link" href="?page=1{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">&laquo; Первая</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">&laquo; Первая</a></li>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
          </li>
          {% if page_obj.number < page_obj.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="{% url 'orders' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">{{ page_obj.next_page_number }}</a></li>
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Последняя &raquo;</a></li>
          {% endif %}
        </ul>
      </nav>
      <br>
    </div>
    <div>
      {% if user.role == 'secretary' %}
      <p>
        <a class="btn btn-primary" href="{% url 'new_order' %}" role="button">Создать</a>
      </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
