{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% block content %}
{% load user_filters %}

<div style="text-align: center; font-size: 12px" class="row justify-content-center">
  <div class="col-sm-7 p-5">
    <div class="card">
      
      <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Имя пользователя и пароль не совпадают. Введите правильные данные.
        </div>
        {% endif %}

        {% if next %}            
            <div class="alert alert-info" role="alert">
              Пожалуйста, авторизуйтесь.
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
              Пожалуйста, авторизуйтесь.
            </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group row my-3"
              {% if field.field.required %} 
                aria-required="true"
              {% else %}
                aria-required="false"
              {% endif %}
            >
            <label for="{{ field.id_for_label }}" class="col-sm-5 col-form-label text-sm-left">
                {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
              </label>
              <div class="col-sm-7">
                {{ field|addclass:'form-control' }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            </div>
          {% endfor %}

          <div class="col-sm">              
              <button type="submit" class="btn btn-primary">
                Войти
              </button>
              <!--a href="{% url 'password_reset' %}" class="btn btn-secondary">
                Забыли пароль?
              </a-->
          </div>
        </form>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->

{% endblock %}